<a href="https://colab.research.google.com/github/akshithagopagani/AI/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 4

Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing libraries

In [3]:
import numpy as np
import random
import pandas as pd
import math as mt

Load Data

In [4]:
data = pd.read_csv('/slr04(2)')
data

      X    Y
0   7.6  157
1   7.1  174
2   8.2  175
3   7.5  188
4   7.4  171
5   7.8  143
6   7.3  217
7   8.0  190
8   7.1  142
9   7.5  190
10  8.1  215
11  7.0  199
12  7.3  262
13  7.8  105
14  7.3  121
15  8.0   81
16  8.5   82
17  7.1  210
18  8.2  202
19  7.9  155
20  7.6  157
21  8.8  147
22  7.2  133
23  7.9   53
24  8.1   56
25  7.7  113
26  8.4   35
27  7.4  125
28  7.3   76
29  8.5   48
30  7.8  147
31  6.7  117
32  7.1  182
33  7.3   87

Missing Values Treatement

In [5]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

In [6]:
m1=np.mean(data['X']) 
m2=np.mean(data['Y']) 
data['X'].fillna(value=m1,inplace=True) 
data['Y'].fillna(value=m2,inplace=True)

Outliers Treatement

In [7]:
outliers = []
def detect_outliers_zscore(data):
    thres = 3
    mean = np.mean(data)
    std = np.std(data)
    # print(mean, std)
    for i in data:
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers

In [8]:
sample_outliers_X = detect_outliers_zscore(data['X'])
sample_outliers_Y = detect_outliers_zscore(data['Y'])
print("Outliers in X column from Z-scores method: ", sample_outliers_X)
print("Outliers in Y column from Z-scores method: ", sample_outliers_Y)

Outliers in X column from Z-scores method:  []
Outliers in Y column from Z-scores method:  []

Split Data

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

Intialisation

In [10]:
m=random.uniform(-10,10)
c=random.uniform(-10,10)
eta=0.01
max_iter=10000

Gradient Calculation

In [11]:
def gradient(m,c,x,y):
  m_deriv=-1*(y-m*x-c)*x
  c_deriv=-1*(y-m*x-c)
  return m_deriv,c_deriv

Training Using Stochastic Gradient Descent Optimizer

In [12]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m,del_c=gradient(m, c, x_train.iloc[sample], y_train.iloc[sample])
    m=m-eta*del_m
    c=c-eta*del_c
print('model parameter m and c',m,c)

model parameter m and c -38.01227154900703 446.3269729308044

Model Prediction on Training Data

In [13]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

Model Prediction on Testing Data

In [14]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

Error Metrics Calculation

In [15]:
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
from sklearn import metrics
#Training Accuracies
rmse = mt.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 52.23815607592906
Mean square error 2728.8249502131243
Mean absolute error 42.36625096970992

In [20]:
#Testing Accuracies
rmse = mt.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 59.45150437293275
Mean square error 3534.481372204842
Mean absolute error 55.20337467597692

Deployment

In [21]:
i=float(input('enter pH Level : '))
Bicarbonate=m*i+c
print('pH of well water : ',float(i))
print('Bicarbonate (parts per million) of well water: ',Bicarbonate)

enter pH Level : 7
pH of well water :  7.0
Bicarbonate (parts per million) of well water:  180.24107208775519